<div class="op-footer footer text-center" style="background-color: white;">
  <div class="container-fluid container op-container">
    <div class="container-fluid p-4" style="display: none;">
      <img src="/content/images/rt-theme/logo-footer.png" alt="Logo Open Toscana" class="img-fluid">
    </div>

    <div class="container-fluid container op-container op-footer__infos" style="display: none;">
      <span>Regione Toscana - Assessorato alla Presidenza</span>
      <span>|</span>
      <span class="op-footer-link">
              <a href="https://www.google.com/maps/place/Piazza+del+Duomo,+10,+50122+Firenze+FI/@43.7725543,11.2510446,15.81z/data=!4m5!3m4!1s0x132a5403f9dea69b:0x567c2ddbb05f260!8m2!3d43.77268!4d11.2578" target="_blank">
                <fa-icon icon="map-marked-alt"></fa-icon>
                Piazza Duomo 10 - 50122 Firenze
              </a>
            </span>
      <span>|</span>
      <span class="op-footer-link"><a href="mailto:info@open.toscana.it">info@open.toscana.it</a></span>
    </div>

    <div class="op-footer__financiers-logos d-block">
      <div class="ftlogo"><img src="/content/images/rt-theme/Fsc.png" alt="Logo Fsc" class="mx-auto img-fluid loghi-footer"></div>
      <div class="ftlogo"><img src="/content/images/rt-theme/UE.png" alt="Logo Uninone Europea" class="mx-auto img-fluid loghi-footer"></div>
      <div class="ftlogo"><img src="/content/images/rt-theme/stemma_repubblica_italiana-logo.png" alt="Logo Repubblica Italiana" class="mx-auto img-fluid loghi-footer"></div>
      <div class="ftlogo"><img src="/content/images/rt-theme/logo_por_creo-2.png" alt="Logo PorCreo" class="mx-auto img-fluid loghi-footer"></div>
      <div class="ftlogo"><img src="/content/images/rt-theme/logo-regione-footer.png" alt="Logo Regione Toscana" class="mx-auto img-fluid loghi-footer"></div>
    </div>

  </div>

  <div class="op-footer__bottom">
    <div class="container op-container row mx-auto text-center">
      <div class="col op-footer__logo-regione">
        <p>Operazione realizzata col
          finanziamento/co-finanziamento
          della Regione Toscana a valere sui fondi POR CreO FESR 2014/2020, ASSE II, Linea di Azione 2.2.1</p>
      </div>
    </div>
  </div>
</div>


